<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Random Number var from route <%= acak %></p>
    <p>Random Number ejs <%= Math.random()*100 %></p>
    <a href="/users">go to /users</a>
  </body>
</html>
